* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #191b1f;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

span {
    position: absolute;
    bottom: -50px;
    background: linear-gradient(120deg, rgba(255, 0, 255, 0.274), rgba(0, 102, 255, 0.308), transparent);
    border-radius: 50%;

    pointer-events: none;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.171);
    animation: animate 4s linear infinite;
    z-index: -1;
}

span::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scale(0.25) translate(-70%, -70%);
    background: radial-gradient(rgba(0, 255, 149, 0.219), transparent);
    border-radius: 50%;
}

@keyframes animate {
    0% {
        transform: translateY(0%);
        opacity: 1;
    }

    99% {
        opacity: 1;
    }

    100% {
        transform: translateY(-1200%);
        opacity: 0;
    }
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(180deg, rgb(0, 54, 71), #191b1f);
    box-shadow: rgba(0, 0, 0, 0.61) 0px 5px 15px;

}

#time {
    align-self: flex-end;
    color: white;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.outer-circle {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 50%;
    background: linear-gradient(65deg, blue, purple);
    box-shadow: rgba(126, 126, 163, 0.2) 0px 7px 29px 0px;
}

.inner-circle {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid red;
    border-radius: 50%;
    flex-direction: column;
    box-shadow: rgba(27, 27, 27, 0.815) 0px 8px 24px;
}

#circleHour,
#circleMinute,
#circleSecond {
    position: absolute;
    width: 20px;
    height: 152px;
    transform-origin: center;
    border-top: 7px solid black;
}

.dates {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    margin-top: 20px;
}

.days {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: whitesmoke;
    border-radius: 10px;
}

.months {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.full-date {
    padding: 10px;
    color: whitesmoke;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

@media only screen and (max-width: 710px) {

    .timer,
    .dates {
        flex-direction: column;
    }

    .full-date {
        margin-top: 20px;
    }

    .container {
        height: auto;
        padding: 20px 0px;
        overflow: hidden;
    }

    body {
        overflow-y: scroll;
        overflow-x: hidden;
    }
}